/*for mobile device*/
@media (max-width: 780px) {
	main {
		/*width: 80%;*/
		overflow: hidden;
		border-radius: 0;
	}
	.sec {
		width: 100%;
		height: auto;
	}
	.container {
		/*width: 92%;*/
		overflow: hidden;
		margin: auto;
		border-radius: 0;
	}
    .contact {
    	flex-direction:column;
    	text-align: start;
    }
    a.link {
    	display: block;
    	margin-top: 0;
    	float: left;
    	text-decoration: underline;
    }
    .about_div {
    	margin-top: 50px;
    	padding:0;
    	overflow: hidden;
    	flex-direction: column;
    }
    .about_div>div {
    	width: 80%;
    	margin: auto;
    }
    .img_div {
    	display: flex;
    	justify-content: center;
    }
    .cote {
    	margin-top: 15px;
    	
    }
    .hired_div {
    	width: 80%;
    	margin: auto;
    }
    /*------------------sec2*/
    .sec_2 {
    	padding-bottom: 70px;
    	padding-top: 50px;
    }
    .sec_2 h1 {
    	margin-bottom: 20px;
    }
    .about_me_div {
    	flex-direction: column;
    }
    .about_me_div>div {
    	margin: auto;
    	padding-top: 0;
    	width: 85%;
    	text-align: start;
   	}
   	.content_about {
   		margin-top: 10px;
   	}
    .line {
    	display: none;
    }
    .skills {
    	margin-top: 20px !important;
    }
    .skills_div_inner {
    	margin-top: 20px;
    }

    /*-------------sec3*/
    .fun_facts_main_div {
    	display: flex;
    	flex-direction: column;
    	justify-content: center;
    	margin-top:10px; 
    	padding: 10px 0;
    	width: 80%;
    	margin: auto;
    }
    .fun_facts {
    	width: 70%;
    	margin-bottom: 15px;
    }
    /*----------------sec 4*/
    .sec_4 {
    	padding-top: 60px;
    }
    .main_contrct_div {
    	width: 80%;
    	margin: auto;
    	flex-direction: column;
    	padding: 20px 0px 0px 0px;
    }
    .contact_div {
    	padding-bottom: 50px;
    }
    .right {
    	width: 100%;
    }
    input,textarea  {
    	width: 90%
    }
    .contact_div button {
    	width: 100%;
    }
    footer {
    	overflow: hidden;
    	background-color: #2b3640;
    	padding: 10px;
    }
    footer > span {
    	width: 60%;
    	display: block;
    	margin: auto;
    }
}